{% extends 'base.html' %}

{% block body %}
<div class="form-container">
    <h1 id="title-header">REAL TIME WEB CRAWLER</h1>
    <div class="form-header">

<h2>Get data quickly and reliably with just a few clicks</h2>
</div>
<form class='form-items' action="/" method="post">
    <input class="form-input" type="text" autofocus autocomplete="off" name="website" placeholder="Enter your website and/or domain" >
    <input class="form-submit" type="submit" value="Go">
</form>
<div class="link-items
">
<a class="link-item" href="/login">Login</a>
<a  class="link-item" href="/signup">Sign up</a>
</div>
</div>
{% endblock %}